/*
.component-data-result {
     overflow: scroll;
}  */
.component-data-result-row {
  border-bottom: 1px solid #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  padding: 0.3em;
}

.component-data-result-row-selected {
  background-color: Bisque;
}






